*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --cell-size: 200px;
    --winning-blocks: #2d414b;

}
body{
    
    margin: 0;
  
}

.box{
    height: var(--cell-size);
    width: var(--cell-size);
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: cursive;
    font-size: 120px;
   
}


.box:first-child,
.box:nth-child(2),
.box:nth-child(3) {
    border-top: none;
}

.box:nth-child(3n + 1){
    border-left: none ;
}

.box:nth-child(3n + 3){
    border-right: none;
}

.box:last-child,
.box:nth-child(8),
.box:nth-child(7) {
    border-bottom: none;
}

