*{
    padding: 0;
    margin: 5px;
    box-sizing: border-box;
}

:root{
    --cell-size: 200px;
    --winning-blocks: yellow;
    --draw-blocks: red;
    

}
body{
    
    margin: 0;
    
  
}

.box{
    height: var(--cell-size);
    width: var(--cell-size);
    border: 6px solid purple;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: cursive;
    font-size: 120px;
    cursor: pointer;
    border-color: purple;
    
   
   
}
 h1{
    color: white;
 }

h2{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: white;

}


.box:first-child,
.box:nth-child(2),
.box:nth-child(3) {
    border-top: none;
}

.box:nth-child(3n + 1){
    border-left: none ;
}

.box:nth-child(3n + 3){
    border-right: none;
}

.box:last-child,
.box:nth-child(8),
.box:nth-child(7) {
    border-bottom: none;
}

