*{
    padding: 0;
    margin: 5px;
    box-sizing: border-box;
}

:root{
    --cell-size: 15vw;
    --winning-blocks: yellow;
    --draw-blocks: red;
    --mark-size: calc(var(--cell-size) * .9)

}
body{
    
    margin: 0;
    display: grid;
    width: auto;
    height: auto;
    
}


#avasTurn{
    width: 25vw;
    height: 75vh;
    background-color: blue;
    grid-row: 2;
    grid-column: 1;
    justify-content: center;
    align-items: center; 
    display: flex;
   

}

#ava{
    
    width: 100px;
    height: 100px;
}

#ara{
    width: 100px;
    height: 100px;
}

#avatitle{
    
}
#arasTurn{
    width: 25vw;
    height: 75vh;
    background-color: orange;
    grid-row: 2;
    grid-column: 3;
    justify-content: center;
    align-items: center;
    display: flex;
}

#aratitle{
    
}

.box{
    height: var(--cell-size);
    width: var(--cell-size);
    border: 6px solid purple;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: cursive;
    font-size: xx-large;
    cursor: pointer;
    border-color: purple;   
}

h1{
    color: white;
 }



.box:first-child,
.box:nth-child(2),
.box:nth-child(3) {
    border-top: none;
}

.box:nth-child(3n + 1){
    border-left: none ;
}

.box:nth-child(3n + 3){
    border-right: none;
}

.box:last-child,
.box:nth-child(8),
.box:nth-child(7) {
    border-bottom: none;
}

