




#button {
    font-family: cursive;
    color: purple;
    border-radius: 15px;
    text-align: center;
    display: block;
    font-size: xxx-large;
    width: 50%;
    margin: 0;
    position: absolute;
    top: 75%;
    left:30%
    
    }



.button {
    font-family: cursive;
    color: purple;
    border-radius: 15px;
    text-align: center;
    display: block;
    
}

.background{
    width: 100%;
}